<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
       <property name="connection.username">root</property>
       <property name="connection.password">123456</property>
       <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
       <property name="connection.url">jdbc:mysql://localhost:3306/hibernate</property>
       
       <property name="dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
       <property name="show_sql">true</property>
       <property name="format_sql">true</property>
       <property name="hbm2ddl.auto">update</property>
       <!-- 映射文件 -->
       <mapping resource="com/jwn/hibernate/helloworld/News.hbm.xml"/>
       <mapping resource="com/jwn/hibernate/entities/Worker.hbm.xml"/>
       <mapping resource="com/jwn/hibernate/entities/n21/Order.hbm.xml"/>
       <mapping resource="com/jwn/hibernate/entities/n21/Customer.hbm.xml"/>
       
       <mapping resource="com/jwn/hibernate/entities/n21/both/Order.hbm.xml"/>
       <mapping resource="com/jwn/hibernate/entities/n21/both/Customer.hbm.xml"/>
       
       <mapping resource="com/jwn/hibernate/one2one/foreign/Manager.hbm.xml"/>
       <mapping resource="com/jwn/hibernate/one2one/foreign/Department.hbm.xml"/>
       
       <mapping resource="com/jwn/hibernate/one2one/primary/Department.hbm.xml"/>
       <mapping resource="com/jwn/hibernate/one2one/primary/Manager.hbm.xml"/>
       
       <mapping resource="com/jwn/hibernate/n2n/Category.hbm.xml"/>
       <mapping resource="com/jwn/hibernate/n2n/Item.hbm.xml"/>
       
    </session-factory>
</hibernate-configuration>
